/* increase h1 header font size to 1.2em */
.form_h1[data-type=h1] .form_label {
    font-size: 1.5em !important;
}

/* increase label font size to 1.2em */
.form_label {
    font-size: 1.2em;
}

/* increase response font size to 1.2em */
.form_response {
    font-size: 1.2em;
}

/* extra padding */
select {
    padding: 5px;
    border-radius: 5px;
    /* width: 100% !important; */
}

/* radio and checkboxes orange */
/* input[type=radio],
input[type=checkbox] {
    accent-color: DarkOrange;
} */

/* submit button bigger */
.form_button_submit {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: lightgray;
    color: #555;
    font-size: 20px;
}

/* hover submit button */
.form_button_submit label:hover {
    background-color: darkorange;
    color: white;
}

/* text boxes and email wider */
input[type=text],
input[type=email] {
    padding: 10px;
    border-radius: 5px;
    /* width: 100% !important; */
}

input:not([type="checkbox"]):not([type="radio"]),
.form_container select,
.form_container textarea
 {
    font-size: 14px;
    padding: 7px;
    margin: 3px 0 4px;
    border: 1px solid #ccc;
    color: #000;
    font-family: sans-serif;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 3px;
    width: unset;
}
.form_label
 {
    font-size: 14px;
    padding: 7px;
    margin: 3px 0 4px;
    font-family: sans-serif;
    line-height: normal;
    box-sizing: border-box;
    width: unset;
}

.form_responses {
    width: 100%;
}

.form_question_445a17f8-9dd2-487f-867a-4c75aa78238b label.form_label {
    min-width: 150px;
}

.form_container input:not([type="checkbox"]):not([type="radio"]), .form_container textarea {
    width: unset !important;
}

/* Styling checkboxes as a regular list */
.form_question.form_checkbox div.form_responses {
    display: block !important;
}

.form_question.form_checkbox div.form_response {
    display: block;
    margin-bottom: 10px;
}

/* Default checkbox styling */
.form_question.form_checkbox input[type=checkbox] {
    opacity: 1;
    width: auto;
    height: auto;
}

/* Removing tile styling from checkboxes' labels */
.form_question.form_checkbox input[type=checkbox]+label {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    color: #000;
    width: auto;
    font-size: 1.2em;
    font-weight: normal;
    box-shadow: none;
    border-radius: 0;
}

/* Keeping radio buttons styled as tiles */
.form_question.form_radio.form_question_8e26d710-c77f-4ab2-a745-3dbbe5a449fa div.form_responses {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: space-around;
}

.form_question.form_radio.form_question_8e26d710-c77f-4ab2-a745-3dbbe5a449fa div.form_response {
    flex: 1 1 auto;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

/* Radio button styles */
.form_question.form_radio.form_question_8e26d710-c77f-4ab2-a745-3dbbe5a449fa input[type=radio] {
    opacity: 0;
    width: 1px;
    height: 1px;
}

/* Styling the radio button labels */
.form_question.form_radio.form_question_8e26d710-c77f-4ab2-a745-3dbbe5a449fa input[type=radio]+label {
    display: flex;
    flex-direction: column;
    height: 60px;
    padding: 10px;
    margin: 2px;
    color: #555;
    background-color: lightgray;
    border-radius: 7px;
    width: 95%;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(53, 61, 72, 0.25);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

/* Hover and selected styles for radio buttons */
.form_question.form_radio.form_question_8e26d710-c77f-4ab2-a745-3dbbe5a449fa div.form_response label:hover {
    background-color: orange;
    color: white;
}

.form_question.form_radio.form_question_8e26d710-c77f-4ab2-a745-3dbbe5a449fa input[type=radio]:checked+label {
    background-color: darkorange;
    color: white;
}

.form_question.form_radio.form_question_8e26d710-c77f-4ab2-a745-3dbbe5a449fa input[type=radio]:focus+label {
    background-color: darkorange;
    color: white;
}



/* Make the other Radio Buttons look like a row */

.xform_question.form_radio div.form_responses {
    display: flex !important;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}
.xform_question.form_radio div.form_response {
    margin: 5px 20px 0px;
}
